<div class="center-card">
    <mat-card class="customCard" style="text-align: center;">

        <mat-card-title>
            I forgot my password
        </mat-card-title>
        <form>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input required matInput name="email" ngModel>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Reset Password</button>
            <mat-card-actions>
                <a mat-button [routerLink]="'/'">
                    <mat-icon>chevron_left</mat-icon>Home </a>
                <a mat-button [routerLink]="'/login'">Login</a>
            </mat-card-actions>
        </form>



    </mat-card>

</div>