<div>
    <input #searchText type="text" placeholder="Search store!" (keyup)="search(searchText.value)">
</div>
<ul class="flex-container">
    <li *ngFor="let item of displayItems">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><a [routerLink]="['/item', { id: item.id }]">{{ item.name }}</a></mat-card-title>
                <mat-card-subtitle>${{item.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.photo_ref}}">
        </mat-card>
    </li>
</ul>