<h1>Login</h1>
<form (ngSubmit)="onSubmit(email.value, password.value)">
    <mat-form-field>
        <input required matInput placeholder="email" #email>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="password" required matInput placeholder="password" #password>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Login</button>
</form>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<a mat-button [routerLink]="'/'">
    <mat-icon>chevron_left</mat-icon>Home </a>
<a mat-button [routerLink]="'/signup'">No Account? Sign Up</a>